<div class="hero-section">
  <div class="container">
    <app-header></app-header>

    <div class="small-container hero-section-intro">
      <h1>The only scalable no-code data pipeline</h1>

      <p class="hero-section-intro-copy">
        Build a scalable business intelligence setup on top of your data warehouse. One integrated platform instead of
        many separate tools. <span class="desktop-only">No code required.</span>
      </p>

      <div class="hero-section-action-buttons desktop-only">
        <app-button
          class="action-button"
          [buttonText]="'Book a Demo'"
        ></app-button>

        <app-button
          class="action-button"
          [buttonText]="'Datos in 2 minutes'"
          [buttonType]="'outlined'"
        ></app-button>
      </div>
    </div>
  </div>
</div>
