@import '../../../styles/mixins'
@import '../../../styles/variables'

$stripe-height: 3px
$space-between-stripes: 5px

@mixin burger-stripe
  width: 23px
  height: $stripe-height
  background-color: $dark-gray

\:host
  position: absolute
  top: 27px
  left: 0
  width: 23px
  height: 3 * $stripe-height + 2 * $space-between-stripes
  z-index: 2
  @include default-transition(transform)

.devices-burger
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)
  @include burger-stripe

  &::before
    position: absolute
    top: -($stripe-height + $space-between-stripes)
    content: ''
    @include burger-stripe

  &::after
    position: absolute
    bottom: -($stripe-height + $space-between-stripes)
    content: ''
    @include burger-stripe
